*{
	background-color: #fff;
}

form{
	width: 30%;
	/* border: 2px solid yellow; */
	border: 1px solid;
	padding: 10px;
	/* box-shadow: 5px 10px rgb(161, 156, 156); */
	background-color: #fff;
}
input{
	padding-left: 20px;
}
h1,p,h6{
	text-align: center;
}
.main{
	background-color: #fff;
	color: black;

}
img{
	width: 60px;
	height: 60px;
	align-items: center;
}
h6{
	color: rgb(100, 103, 107);
	padding: 14px 0px 14px 0px;
}